
body {
    font-family: Garamond, serif;
    text-align: center;
  }

/*the page not found*/

#not_found{
    margin-left: 15%;
    font-size: 10vh;

}
#panda{
    position: fixed;
    top: 20%;
    right: 10%;
}

/*long number of pi*/

.pi{
    font-size: 15vh;
}

.right{
    font-size: 8vh;
}

/*the most boring day*/

#timeline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

.day {
    background-color: #98C1C2;
    font-size: 150%;
}

/*the page on colour*/

.colour {
    background-color: rgb(231, 243, 255);
}

.colour_section {
    text-align: center;
}

#pantone {
    background-color: rgb(74,65,42);
    color: #C1C9DC; 
}

#copper {
    background-color: rgb(200,121,72);
    color: #B2D3E8; 
}

#silver {
    background-color: rgb(191,179,163);
    color: #DDE2E8;
}

#timber {
    background-color: rgb(222,215,206);
    color: #48576B;
}

#dark {
    background-color: rgb(51,51,51);
    color: #D1D1D1;
}

#deep {
    background-color: rgb(63,138,114);
    color: #ECD6DD;
}
